.App{
    text-align: center;
}

.App {
    height: auto;
    pointer-events: all;

}

.App-header {
    background-attachment: fixed;
    min-width: none;
    display: block;
    flex-direction:column ;
    align-items: baseline;
    justify-content: baseline;
    font-size: larger;
    color: aqua;
    
}